<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Stopwatch</title>
</head>
<body>
    <div id="hour">0</div>
    <div id="minute">0</div>
    <div id="second">0</div>
    <div id="msecond">00</div>
    <break></break>
    <div class="static">
        <button id="start" class="glow-on-hover">Start</button>
        <button id="stop" class="glow-on-hover">Stop</button>
        <button id="reset" class="glow-on-hover">Reset</button>
    </div>
    
    <div>
        
          <a id="history" href= '' type="submit" >View History</a>   
        
        
    </div>
    

    <script src="main.js"></script>
</body>
</html>