<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="viewhistory.css">
    <title>Stopwatch</title>
</head>
<body>
    <h1>Button Press Timestamp</h1>
    <div class="list">
        <% list.forEach(element => {  %> 
         <%=   element.h  %>  :
         <%=   element.m  %>  :
         <%=   element.s  %>  :
         <%=   element.ms  %>  
         <br>
         <% });  %> 
           
    </div>
    

    <script></script>
</body>
</html>